body{
    color: aquamarine;
}
h3 {
    color: black;
    margin: 0;
    padding: 20px;
}
#Country{
    color:black
}
#choice {
    color: aqua;
}
.mahid {
    color: black;
}
h1 {
    color: blueviolet;
}
#anchort1 {
    color: chocolate;
}